- const title = 'template'

html
    include components/head
    body
        include components/header
        main.page
            h1 привет!
        include components/footer
        script(src='js/app.min.js')
